body {
	background: #EEEBDD;
	color: #072227;
	font-family: Oswald;
	font-weight: 400;
	letter-spacing: 0px;
}

h1 {
	color: #630000;
	font-family: Fira Sans;
	font-weight: 900;
	letter-spacing: 1px;
	font-size: 50px;
}

h2 {
	color: #A13333;
	font-family:helvetica;
	font-weight: 600;
	letter-spacing: 0px;
	font-size: 20px;
}

a {
	text-decoration: none;
	color: rgb(50, 50, 50);
	font-weight: 500;
}

a:hover {
	color: orange;
	font-weight: 900;
}


/* Custom design with class */

.container {
		width: 700px;
		margin: 60px auto;
}


@media (max-width: 700px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}



.box-white {
		background-color: white;
		padding: 40px;
		box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
		border-radius: 5px;
		margin: 25px 0px;
		text-align: center;
}

.img-circle {
		border-radius: 50%;
}

.btn-blue {
		background-color: #9D5353;
		color: white;
		padding: 5px 12px;
		border-radius: 4px;
}

.list-inline {
		list-style: none;
		padding-left: 0px;
}

.list-inline li {
		display: inline;
		padding: 10 px;
		font-size: 40px;
}


.ist-inline i {
		font-size: 40px;
		color: #D8B6A4;
}

.ist-inline i:hover {
		font-size: 40px;
		color: black;
}

#introduction p {
		margin-bottom: 30px;
}

